*{
    box-sizing: border-box;
}
.sidebar{
    width: 100%;
}
.clearfix{ 
    clear: both;
} 
.row{
    margin: 0;
}
.article{
    display: grid;
    justify-content: center;
}
.pag{
    display: flex;
    justify-content: center;
}
.content_block{
    background: #ffffdf;
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}
.card{
    display: inline-block;
}
.nav{
    background: grey;
}
#dropdownMenuButton{
    background: #edf4df;
    color: black;
    border: 0;
}
.row{
    width: 100%;
}
.date{
    color: #ff8000;
    font-size: 18px;
}
.background{
    width: 100%;
    height: 100%;
    position: relative; 
}
.wrapper{
    min-height: 813.750px;
    min-width: 100%;
    background-size: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.wrapper::after{
    clear: both;
    content: '.';
    display: block;
}
.art{

    padding: 20px;
    height: auto;
    background: white;
    width: 90%;
    z-index: 2;
}
.icon{
    width: 20px;
    height: 20px;
}
.views{
    left: 40px;
}
.formwrapper{
    width: 100%;
    height: 100%;
    padding: 15px;
}
.nav{
    height: 50px;
    display: flex;
    align-items: center;
}
.item-count{
    color: #A9CCE3;
    position: absolute;
    left: 250px;
}
.item-count:hover{
    color: #2874A6;
    text-decoration:underline;
}
.bg-photo{
    position: absolute;
    z-index: 1;
    width: 100%;
    min-height: 100%;
}