{%extends 'base.html'%}
{%load static%}
{%block detail%}
<div class="wrapper ">
<div class="art">
<h3>{{article.title}}</h3>
<p class="date">{{article.pub_date}}</p>
{% autoescape off %}
{{article.text|linebreaks}}
{% endautoescape %}
<br>
<img src="{% static 'icon/views.png' %}" alt="" class="icon">
<span class="views">{{article.views}}</span>
<a href="{%url 'like' article.id%}">Полезна ли была статья?</a><span>{{article.like_set.count}}</span>
</div>
<img src="{{ article.image.url }}" alt="" class="bg-photo">

<div class="clearfix"></div>
</div>
{%endblock%}
