{% load news_count%}
{%if cat%}

<div class="sidebar">
<div class="card mt-5" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        {%for item in cat%}
        {%if item.news_set.exists%}
            <a class="list-group-item" href="{%url 'category' item.title%}">
                {{item.title}}
                    <span class="item-count">
                        {{item.cnt}}
                    </span>
            </a>
            
        {%endif%}
        {%endfor%}
    </ul>
</div>
</div>
{%endif%}



